[submodule "MCP"]
	path = MCP
	url = https://github.com/serenieal/MCP.git
[submodule "Assetdump"]
	path = UE/Plugins/ue-assetdump
	url = https://github.com/serenieal/ue-assetdump.git
[submodule "Plan"]
	path = Plan
	url = https://github.com/serenieal/Plan.git