[submodule "MCP"]
	path = MCP
	url = https://github.com/serenieal/MCP.git
[submodule "Assetdump"]
	path = UE/Plugins/ue-assetdump
	url = https://github.com/serenieal/ue-assetdump.git
[submodule "Plan"]
	path = Document/Plan
	url = https://github.com/serenieal/Plan.git
[submodule "SSOT"]
	path = Document/SSOT
	url = https://github.com/serenieal/SSOT.git
