# Visual Studio / Rider
.vs/
.vscode/
*.sln
*.suo
*.opensdf
*.sdf

# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Script/

# MacOS / Windows Misc
.DS_Store
Thumbs.db
/enc_temp_folder
.vs/
